<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <context-param>
    <param-name>javax.servlet.jsp.jstl.sql.dataSource</param-name>
    <param-value>jdbc:mysql://localhost/project,com.mysql.jdbc.Driver,root,root</param-value>
  </context-param>
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>inscription.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>InsertSomeUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.InsertSomeUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSomeUrlServlet</servlet-name>
    <url-pattern>/auth/basicInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.ListUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUrlServlet</servlet-name>
    <url-pattern>/auth/listUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.ShowUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUrlServlet</servlet-name>
    <url-pattern>/auth/showUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EnableUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.EnableUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnableUrlServlet</servlet-name>
    <url-pattern>/auth/enableUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RedirectionUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.RedirectionUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RedirectionUrlServlet</servlet-name>
    <url-pattern>/r</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.AddUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUrlServlet</servlet-name>
    <url-pattern>/auth/addUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveUrlServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.RemoveUrlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUrlServlet</servlet-name>
    <url-pattern>/auth/removeUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>com.supinfo.project.servlet.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticateFilter</filter-name>
    <filter-class>com.supinfo.project.filter.AuthenticateFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticateFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
</web-app>